:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btnprimary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btnoutline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btnmedium{
    padding: 8px 20px;
    font-size: 20px;
}

.btnlarge{
    padding: 12px 20px;
    font-size: 150%;
    border-radius: 5px;
}

.btnmedium:hover,
.btnlarge:hover{
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}