.form-content-right {
    background-color: rgb(237, 226, 106);
    display: flex;
    margin: 0%;
    border-radius: 0px;
    padding-bottom: 230px;
    

}

#background-img {
    top:2%;
    left:-0.25%
}

#login {
    margin-left: 28%;
    margin-top: 50%;
}

.form-label {
    font-size: 22px;
    /* background-color: red; */
    font-size: 17px;
    margin-left: 15%;
    
}

.form-inputs {
    font-size: 22px;
    border-radius: 20px;
    /* margin-left: 20%; */
    border: black;
}

.submitButton {
    margin-left: 30%;
}

.NoAccount {
    /* margin-left: 10%; */
    /* background-color: red; */
    padding: 0% 10%;
    white-space: nowrap;
    position: relative;
    right: 20%;
    bottom: 100%;
    margin-left: 13%;
}

.rfc {
    background-color: rgb(20, 20, 20);
    padding-right: 20%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;

}

.lfc {
    /* background-color:red; */
    padding: 0% 17%;
    border-radius: 20px;
    padding-bottom: 240px;
}

#email {
    border-radius: 20px;
    padding: 5%;
    margin-top: 4%;
    font-size: 15px;
    margin-bottom: 7%;
    border-color: purple;
    border-width: 2px;



}

#password {
    border-radius: 20px;
    padding: 5%;
    margin-top: 4%;
    font-size: 15px;
    border-color: purple;
    border-width: 2px;

}

.submitButton {
    padding: 6% 35%;
    background-color: rgb(108, 69, 236);
    position: relative;
    white-space:nowrap;
    right: 30%;
    border-radius: 20px;
    border: none;
    margin-bottom: 20%;
    margin-top: 3%;
    margin-left: 40%;

}

.slogan {
    /* background-color: red; */
    text-align: center;
    white-space: nowrap;
    margin-left: 75%;
    margin-top: 70%;
    color:rgb(171, 167, 167)
}